---
import '@/styles/globals.css'
import {Button} from "@/components/ui/button";
import fetchApi from "../lib/strapi";
import {Page} from "../interfaces/page";
import Header from "../components/Header";
import BlockManager from "../components/BlockManager.astro";


export async function getStaticPaths() {

	const pages = await fetchApi<Page[]>({
		endpoint: 'pages',
		wrappedByKey: 'data',
	})

	console.log(JSON.stringify(pages, null, 2))

	return pages.map(page => {
		return {
			params: { slug: page.attributes.slug ?? undefined },
			props: page
		}
	})
}

const page = Astro.props;
---

<html lang="pl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{page.attributes.Title}</title>
	</head>
	<body>
		<div class="container">
			<BlockManager components={page.attributes.components} />
		</div>
	</body>
</html>
