---
import type { ArticleData } from '@/interfaces/article.interface'
import { Card, CardContent, CardTitle } from './ui/card';
import { Image } from 'astro:assets';
import fetchApi from '@/lib/strapi';
import {titleToSlug} from '@/lib/utils';

const articles = await fetchApi<ArticleData[]>({
    endpoint: 'articles',
    wrappedByKey: 'data',
    query: "populate=*"
})
---

<div id="cardsContainer" class="w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10 xl:gap-10">
{
    articles.map((article, i) => (
        <a href={"/blog/" + titleToSlug(article.attributes.title)} class="group">
            <Card key={article.id} id={"card" + (i+1)} className="p-6 lg:p-8 border-none shadow-none bg-secondary h-full">
                <CardContent className="flex flex-col justify-beetwen items-start p-0 gap-5 md:gap-6">
                    <Image class="w-full rounded-lg max-h-[302px]" src={import.meta.env.STRAPI_URL + article.attributes.image.data.attributes.url} alt="" width={article.attributes.image.data.attributes.width} height={article.attributes.image.data.attributes.height} transition:name={titleToSlug(article.attributes.title)}/>
                    <CardTitle className="font-semibold text-2xl">{article.attributes.title}</CardTitle>
                </CardContent>
            </Card>
        </a>
    ))
}
</div>
