---
import { Image } from "astro:assets";
import {
  Card,
  CardContent,
  CardTitle,
  type shadowColor,
} from "@/components/ui/card";
import { titleToSlug } from "@/lib/utils";

interface Props {
  title: string;
  imageUrl: string;
  imageWidth: number;
  imageHeight: number;
  id?: string;
  imageAltTxt: string;
  shadowColor?: shadowColor;
  isPortfolio?: boolean;
}

const {
  title,
  imageUrl,
  imageWidth,
  imageHeight,
  id,
  imageAltTxt,
  shadowColor,
  isPortfolio,
} = Astro.props;
---

<a
  id={id}
  href={(isPortfolio ? "/portfolio/" : "/blog/") + titleToSlug(title)}
  class="group"
>
  <Card className="h-full p-1 lg:px-1" shadowcolor={shadowColor} hover={true}>
    <CardContent
      className="flex flex-col justify-beetwen items-start p-0 gap-5 relative"
    >
      <Image
        class="w-full rounded-[48px] object-cover max-h-[300px]"
        src={import.meta.env.PUBLIC_STRAPI_URL + imageUrl}
        alt={imageAltTxt}
        width={imageWidth}
        height={imageHeight}
        loading="eager"
      />
      <div
        class="absolute left-0 top-0 bg-black/50 w-full h-full rounded-[48px]"
      >
      </div>
      <CardTitle
        className="font-semibold lg:text-2xl absolute bottom-6 left-6 right-6 text-white"
        >{title}</CardTitle
      >
    </CardContent>
  </Card>
</a>
