---
import { Image } from "astro:assets";
import {
  Card,
  CardContent,
  CardTitle,
  type shadowColor,
} from "@/components/ui/card";
import { titleToSlug } from "@/lib/utils";

interface Props {
  title: string;
  categoryName: string;
  imageUrl: string;
  imageWidth: number;
  imageHeight: number;
  id?: string;
  imageAltTxt: string;
  shadowColor?: shadowColor;
}

const {
  title,
  categoryName,
  imageUrl,
  imageWidth,
  imageHeight,
  id,
  imageAltTxt,
  shadowColor,
} = Astro.props;
---

<a
  id={id}
  href={"/blog/" + titleToSlug(categoryName) + "/" + titleToSlug(title)}
  class="group"
>
  <Card className="h-full" shadowcolor={shadowColor} hover={true}>
    <CardContent
      className="flex flex-col justify-beetwen items-start p-0 gap-5"
    >
      <Image
        class="w-full rounded-lg max-h-[302px]"
        src={import.meta.env.PUBLIC_STRAPI_URL + imageUrl}
        alt={imageAltTxt}
        width={imageWidth}
        height={imageHeight}
        loading="eager"
      />
      <CardTitle className="font-semibold text-lg sm:text-2xl"
        >{title}</CardTitle
      >
    </CardContent>
  </Card>
</a>
