---
import {
  Card,
  CardContent,
  CardTitle,
  type shadowColor,
} from "@/components/ui/card";
import { cn, titleToSlug } from "@/lib/utils";
import { Image } from "astro:assets";

interface Props {
  title: string;
  imageUrl: string;
  imageWidth: number;
  imageHeight: number;
  id?: string;
  imageAltTxt: string;
  shadowColor?: shadowColor;
  isPortfolio?: boolean;
  className?: string;
}

const {
  title,
  imageUrl,
  imageWidth,
  imageHeight,
  id,
  imageAltTxt,
  shadowColor,
  isPortfolio,
  className,
} = Astro.props;
---

<a
  id={id}
  href={(isPortfolio ? "/portfolio/" : "/blog/") + titleToSlug(title)}
  class={cn(className, "group")}
>
  <Card className="h-full p-1 lg:px-1" shadowcolor={shadowColor} hover={true}>
    <CardContent className="relative flex h-[300px] w-full flex-col gap-5 p-0">
      <Image
        class="h-full w-full rounded-[48px] object-cover"
        src={import.meta.env.PUBLIC_STRAPI_URL + imageUrl}
        alt={imageAltTxt}
        width={imageWidth}
        height={imageHeight}
        loading="eager"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-[48px] bg-black/50"
      >
      </div>
      <CardTitle
        className="absolute bottom-6 left-6 right-6 font-semibold text-white lg:text-2xl"
        >{title}</CardTitle
      >
    </CardContent>
  </Card>
</a>
