---
import type {Footer} from "@/interfaces/footer.interface";
import fetchApi from "@/lib/strapi";
import { Button } from "./ui/button";
import Description from "@/components/Description.astro";
import { Image } from "astro:assets";

const footer = await fetchApi<Footer>({
    endpoint: 'footer',
    wrappedByKey: 'data',
    query: "populate=*",
})

const {logo, navigation, cta, description} = footer.attributes;
---
<footer id="footer" class="container">
    <div class="flex flex-col items-center justify-center rounded-xl bg-secondary p-8 my-20">
        <div class="w-full flex flex-col lg:flex-row gap-8 items-center justify-between pb-8 border-b">
            <Image src={import.meta.env.PUBLIC_STRAPI_URL + logo.data.attributes.url} width={logo.data.attributes.width} height={logo.data.attributes.height}  alt=""/>
            <nav class="flex flex-col lg:flex-row items-center justify-center gap-5 footerElem">
                {navigation.map(element => <a class="hover:underline" href={element.href}>{element.title}</a>)}
            </nav>
            {
                cta ? (
                        <Button variant={cta.variant} size={cta.size} >{cta.content}</Button>
                ) : ""
            } 
        </div>
        <Description className="pt-8" >{description}</Description>
    </div>
</footer>

<script>
    import gsap from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    import {isMobile} from "@/lib/utils";

    gsap.registerPlugin(ScrollTrigger);

    const sections = document.querySelector("#container")?.children!;
    const lastSection = sections[sections.length - 1];

    if (!isMobile()) {
        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: `#${lastSection.id}`,
                start: "top center",
                end: "top center",
            }
        });
        
        tl.from("#footer", {y: "20%", opacity: 0})
        .to("#footer", {y: 0, opacity: 1, duration: 0.1, ease: "power4.in"})
        .from("#footer div", {y: "20%", opacity: 0})
        .to("#footer div", {y: 0, opacity: 1, duration: 0.1, ease: "power4.in"})
        .from("#footer p", {y: "20%", opacity: 0})
        .to("#footer p", {y: 0, opacity: 1, duration: 0.1, ease: "power4.in"})
    }
</script>