---
import type {Button as IButton} from "../interfaces/page";
import {Button} from "@/components/ui/button";
import MobileMenu from "./MobileMenu";
import type { Header, Logo, Navigation } from "@/interfaces/header";
import fetchApi from "@/lib/strapi";

const header = await fetchApi<Header>({
    endpoint: 'header',
    wrappedByKey: 'data',
    query: "populate=*",
})

const {logo, navigation, cta} = header.attributes;
---

<div class="container backdrop-blur bg-white/50 sticky top-0 z-40">
    <header class="w-full flex items-center justify-between h-20">
        <img src={import.meta.env.PUBLIC_STRAPI_URL + logo.data.attributes.url}  alt=""/>
        <nav class="hidden lg:flex items-center justify-center gap-5 bg-secondary rounded-lg px-9 py-2">
            {navigation.map(element => <a class="hover:underline" href={element.href}>{element.title}</a>)}
        </nav>
        {
            cta ? (
                    <Button variant={cta.variant} size={cta.size} className="hidden lg:flex" >{cta.content}</Button>
            ) : ""
        } 
        <MobileMenu navigation={navigation} cta={cta} client:load />
    </header>
</div>
