---
import HeaderCta from "@/components/HeaderCta";
import { Button } from "@/components/ui/button";
import type { Header } from "@/interfaces/header";
import fetchApi from "@/lib/strapi";
import { Image } from "astro:assets";

const header = await fetchApi<Header>({
  endpoint: "header",
  wrappedByKey: "data",
  query: "populate=*",
});

const { logo, navigation, cta } = header.attributes;
---

<div
  class="container sticky top-0 z-40 bg-background"
  transition:animate="none"
>
  <header id="header" class="flex h-20 w-full items-center justify-between">
    <a href="/">
      <Image
        src={import.meta.env.PUBLIC_STRAPI_URL + logo.data.attributes.url}
        width={logo.data.attributes.width}
        height={logo.data.attributes.height}
        alt="logo"
        loading="eager"
      />
    </a>
    <nav class="hidden items-center justify-center gap-5 lg:flex">
      {
        navigation.map((element) => (
          <a class="hover:underline" href={element.href}>
            <Button variant="ghost">{element.title}</Button>
          </a>
        ))
      }
    </nav>
    <HeaderCta client:load navigation={navigation} cta={cta} />
  </header>
</div>
