---
import {
  Card,
  CardContent,
  CardDescription,
  CardTitle,
} from "@/components/ui/card";
import type { Card as ICard } from "@/interfaces/page";
import DOMPurify from "isomorphic-dompurify";
import Title from "./Title.astro";

interface Props {
  title: string;
  table: string;
  options?: ICard[];
}

const { title, table, options } = Astro.props;
---

<price-list>
  <div class="py-12">
    <div class="priceList flex flex-col items-start justify-center pb-4">
      <div
        class="flex w-full flex-col items-center justify-center border-b-1 border-black py-5"
      >
        <Title>{title}</Title>
      </div>
      <div
        set:html={DOMPurify.sanitize(table)}
        class="flex w-full flex-col items-start justify-center gap-5 py-5 [&>figure>table]:w-full [&>figure]:w-full [&>p]:w-full"
      />
    </div>
    {
      options?.length != 0 ? (
        <div class="additionalOptions alphanone flex flex-col items-center justify-center gap-12">
          <div class="items-stretc flex w-full justify-center">
            <Title className="sm:text-[32px]">Dodatkowe opcje</Title>
          </div>
          <div class="flex flex-wrap items-stretch justify-center gap-12">
            {options?.map((option) => (
              <Card className="flex-1 max-w-[345px] h-auto">
                <CardContent className="items-center justify-between h-full text-center gap-4">
                  <CardTitle className="text-[32px] font-bold">
                    {option.title}
                  </CardTitle>
                  <CardDescription>{option.description}</CardDescription>
                  <CardTitle className="text-[32px] font-bold">
                    {option.price}
                  </CardTitle>
                </CardContent>
              </Card>
            ))}
          </div>
        </div>
      ) : null
    }
  </div>
</price-list>

<script>
  import { isMobileOrReducedMotion, turnVisible } from "@/lib/utils.ts";
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  class PriceList extends HTMLElement {
    constructor() {
      super();

      gsap.registerPlugin(ScrollTrigger);

      const tableRows = this.querySelectorAll("tr");

      tableRows.forEach((row, i) => {
        if (i > 0) {
          const cells = Array.from(row.cells);

          cells.forEach((cell, i) => {
            if (i > 0) {
              cell.dataset.label = tableRows[0].cells[i].innerText;

              if (cell.innerText.toLowerCase() == "tak") {
                cell.innerText = "✔️";
              } else if (cell.innerText.toLowerCase() == "nie") {
                cell.innerText = "❌";
              }
            }
          });
        }
      });

      if (!isMobileOrReducedMotion()) {
        const priceList = this.querySelector(".priceList");
        const additionalOptions = this.querySelector(".additionalOptions");

        let tl = gsap.timeline({
          scrollTrigger: {
            trigger: this,
            start: "top center",
            end: "top center",
          },
        });

        tl.from(priceList, { y: "20%", autoAlpha: 0 })
          .to(priceList, {
            y: 0,
            duration: 0.1,
            ease: "power4.in",
          })
          .from(additionalOptions, { y: "20%", autoAlpha: 0 })
          .to(additionalOptions, {
            y: 0,
            duration: 0.1,
            ease: "power4.in",
          });
      } else {
        turnVisible(this);
      }
    }
  }

  customElements.define("price-list", PriceList);
</script>
