---
import Form from "@/components/ContactForm";
import type { Field, Button as IButton } from "@/interfaces/page";
import { Home, Phone } from "lucide-react";
import Description from "./Description.astro";
import Title from "./Title.astro";

interface Props {
  title: string;
  description: string;
  fields: Field[];
  id: number;
  button: IButton;
  address?: string;
  phone?: string;
}

const { title, description, fields, id, address, phone, button } = Astro.props;
---

<form-section>
  <div
    id={"sectionWithForm" + id}
    class="sectionWithForm alphanone flex flex-col items-center justify-between gap-12 py-12 lg:flex-row lg:gap-24"
  >
    <div
      class="text flex w-full flex-col items-center justify-center gap-4 lg:w-1/2 lg:items-start"
    >
      <Title className="title alphanone text-center lg:text-left">{title}</Title
      >
      <Description className="desc alphanone text-center lg:text-left"
        >{description}</Description
      >
      {
        button && phone ? (
          <div
            class="alphanone flex flex-col items-center justify-center gap-3 pt-6 lg:items-start"
            id="contactInfo"
          >
            <div class="flex justify-start gap-4">
              <Home size={24} />
              <p class="text-lg">{address}</p>
            </div>
            <div class="flex justify-start gap-4">
              <Phone size={24} />
              <p class="text-lg">{phone}</p>
            </div>
          </div>
        ) : null
      }
    </div>
    <Form fields={fields} button={button} client:load />
  </div>
</form-section>

<script>
  import { isMobileOrReducedMotion, turnVisible } from "@/lib/utils.ts";
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  class FormSection extends HTMLElement {
    constructor() {
      super();
      gsap.registerPlugin(ScrollTrigger);

      if (!isMobileOrReducedMotion()) {
        const sectionWithForm = document.querySelector(".sectionWithForm");
        const form = document.querySelector("form");
        const title = document.querySelector(".title");
        const desc = document.querySelector(".desc");
        const contactInfo = document.querySelector("#contactInfo");

        let tl = gsap.timeline({
          scrollTrigger: {
            trigger: this,
            start: "top center",
            end: "top center",
          },
        });

        tl.from([sectionWithForm, form], { y: "20%", autoAlpha: 0 })
          .to(form, {
            y: 0,
            duration: 0.1,
            ease: "power4.in",
          })
          .from(title, { y: "20%", autoAlpha: 0 }, 0.2)
          .to(title, {
            y: 0,
            duration: 0.1,
            ease: "power4.in",
          })
          .from(desc, { y: "20%", autoAlpha: 0 }, 0.3)
          .to(desc, {
            y: 0,
            duration: 0.1,
            ease: "power4.in",
          })
          .from(contactInfo, { y: "20%", autoAlpha: 0 }, 0.3)
          .to(contactInfo, {
            y: 0,
            duration: 0.1,
            ease: "power4.in",
          });
      } else {
        turnVisible(this);
      }
    }
  }

  customElements.define("form-section", FormSection);
</script>
