---
import Title from "./Title.astro";
import Description from "./Description.astro";
import type { Field, Button as IButton } from "@/interfaces/page";
import Form from "./Form.astro";
import { Home, Phone } from "lucide-react";

interface Props {
    title: string;
    description: string;
    fields: Field[]; 
    id: number;
    button: IButton;
    address: string;
    phone: string;
}

const { title, description, fields, id, address, phone, button } = Astro.props;
---

<div id={"sectionWithForm" + id} class="flex flex-col lg:flex-row items-center justify-between gap-12 lg:gap-24 py-20 sectionWithForm">
    <div class="flex flex-col gap-4 text">
        <Title className="text-center lg:text-left title">{title}</Title>
        <Description className="text-center lg:text-left desc">{description}</Description>
        <div class="flex flex-col gap-4 pt-6" id="contactInfo">
            <div class="flex justify-start gap-4">
                <Home size={24} />
                <p class="text-lg">{address}</p>
            </div>
            <div class="flex justify-start gap-4">
                <Phone size={24} />
                <p class="text-lg">{phone}</p>
            </div>
        </div>   
    </div>
    <Form fields={fields} button={button}/>
</div>

<script>
    import gsap from 'gsap';
    import { ScrollTrigger } from 'gsap/ScrollTrigger';
    import {isMobile} from "@/lib/utils";

    gsap.registerPlugin(ScrollTrigger);

    if (!isMobile()) {
        let tl = gsap.timeline({
            scrollTrigger: {
                trigger: ".sectionWithForm",
                start: "top center",
                end: "top center",
            }
        });
        
        tl.from(".sectionWithForm .form", {y: "20%", opacity: 0})
        .to(".sectionWithForm .form", {y: 0, opacity: 1, duration: 0.1, ease: "power4.in"})
        .from(".sectionWithForm .text .title", {y: "20%", opacity: 0}, 0.2)
        .to(".sectionWithForm .text .title", {y: 0, opacity: 1, duration: 0.1, ease: "power4.in"})
        .from(".sectionWithForm .text .desc", {y: "20%", opacity: 0}, 0.3)
        .to(".sectionWithForm .text .desc", {y: 0, opacity: 1, duration: 0.1, ease: "power4.in"})
        .from("#contactInfo", {y: "20%", opacity: 0}, 0.3)
        .to("#contactInfo", {y: 0, opacity: 1, duration: 0.1, ease: "power4.in"})
    }
</script>