---
import "@/styles/globals.css";
import MainLayout from "@/layouts/MainLayout.astro";
import type { ArticleData } from "@/interfaces/article.interface";
import Title from "@/components/Title.astro";
import Prose from "@/components/Prose.astro";
import { marked } from "marked";
import DOMPurify from "isomorphic-dompurify";
import { Image } from "astro:assets";

interface Props {
  article: ArticleData;
}

const { article } = Astro.props;

const content = await marked.parse(article.attributes.content);
---

<MainLayout seo={article.attributes.seo}>
  <div class="flex flex-col items-start justify-center gap-10">
    <Image
      class="relative w-full rounded-xl max-h-[302px] object-cover shadow-accent"
      src={import.meta.env.STRAPI_URL +
        article.attributes.image.data.attributes.url}
      alt={article.attributes.image.data.attributes.alternativeText}
      width={article.attributes.image.data.attributes.width}
      height={article.attributes.image.data.attributes.height}
      alt={article.attributes.image.data.attributes.alternativeText}
    />
    <div class="w-full flex flex-col items-center justify-center gap-4">
      <Title className="text-center">{article.attributes.title}</Title>
      <div class="items-center justify-start flex flex-col md:flex-row gap-4">
        <p class="text-sm">
          Opublikowano: {
            new Date(article.attributes.createdAt).toLocaleString()
          }
        </p>
        <p class="text-sm">
          Aktualizacja: {
            new Date(article.attributes.updatedAt).toLocaleString()
          }
        </p>
      </div>
    </div>
    <div class="w-full flex justify-center">
      <Prose set:html={DOMPurify.sanitize(content, { ADD_TAGS: ["iframe"] })} />
    </div>
  </div>
</MainLayout>
