---
import BlogPostCard from "@/components/BlogPostCard.astro";
import Pagination from "@/components/Pagination.astro";
import TitleWithDescription from "@/components/TitleWithDescription.astro";
import { Button } from "@/components/ui/button";
import type { ArticleData, CategoryData } from "@/interfaces/article.interface";
import type { Page } from "@/interfaces/page";
import MainLayout from "@/layouts/MainLayout.astro";
import fetchApi from "@/lib/strapi";
import { titleToSlug } from "@/lib/utils";
import "@/styles/globals.css";
import QueryString from "qs";

const blogPage = await fetchApi<Page[]>({
  endpoint: "pages",
  wrappedByKey: "data",
  query: QueryString.stringify({
    filters: {
      slug: {
        $eq: "/blog",
      },
    },
    populate: {
      seo: true,
      components: {
        populate: {
          articles: true,
        },
      },
    },
  }),
});

const categories = await fetchApi<CategoryData[]>({
  endpoint: "categories",
  wrappedByKey: "data",
});

interface Props {
  articles: ArticleData[];
  previousUrl?: string;
  nextUrl?: string;
  currentPage: number;
}

const { articles, previousUrl, nextUrl, currentPage } = Astro.props;
const title = blogPage[0].attributes.components[0].title!;
const description = blogPage[0].attributes.components[0].description!;

const categoryUrl = () => {
  const params = Astro.params;
  return "category" in params ? params.category : "";
};

const sortedCategories = categories.sort((a, b) => (a.id > b.id ? 1 : -1));

function chooseColor(i: number) {
  const roundedDvision = Math.floor(i / 3);

  const idxInRow = i - roundedDvision * 3;

  switch (idxInRow) {
    case 0:
      return "bg-orange";
    case 1:
      return "bg-fuchsia";
    case 2:
      return "bg-ocean-green";
  }
}
---

<MainLayout seo={blogPage[0].attributes.seo}>
  <div class="flex flex-col items-start justify-center pb-14">
    <div class="flex flex-col items-start justify-between gap-6 lg:flex-row">
      <TitleWithDescription title={title} description={description} />
      <div class="flex w-full items-center justify-end lg:w-1/2"></div>
    </div>
  </div>
  <div class="flex flex-wrap items-center justify-start gap-5">
    {
      sortedCategories.map((category) => {
        const slug =
          category.attributes.name == "Wszystko"
            ? ""
            : titleToSlug(category.attributes.name);

        return (
          <a href={"/blog/" + slug}>
            <Button
              size="sm"
              variant={slug == categoryUrl() ? "default" : "secondary"}
            >
              {category.attributes.name}
            </Button>
          </a>
        );
      })
    }
  </div>
  <div
    id="cardsContainer"
    class="grid w-full grid-cols-1 gap-10 pt-14 md:grid-cols-2 xl:grid-cols-3 xl:gap-10"
  >
    {
      articles.map((article, i) => (
        <BlogPostCard
          shadowColor={chooseColor(i)}
          imageAltTxt={article.attributes.image.data.attributes.alternativeText}
          title={article.attributes.title}
          imageUrl={article.attributes.image.data.attributes.url}
          imageWidth={article.attributes.image.data.attributes.width}
          imageHeight={article.attributes.image.data.attributes.height}
        />
      ))
    }
  </div>
  <Pagination previous={previousUrl} next={nextUrl} currentPage={currentPage} />
</MainLayout>
